:root {
  --background-body-color: #ffffff;
  --primary-text-color: #434455;
  --titel-text-color: #2e2f42;
  --button-text-color: #4d5ae5;
  --button-hover-background: #404bbf;
  --second-background-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --background-menu-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    #ffffff;
}

.list {
  list-style: none;
}

/* Тіло сторінки */

body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

/*----Логотип---- */

.logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: var(--button-text-color);
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.studio {
  font-family: 'Raleway', sans-serif;
  color: var(--primary-text-color);
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

/*---------------------- Навігація------------------ */

.nav-menu {
  background: var(--background-menu-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--button-hover-background);
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

/*------------------------Адрес ------------------*/

.address-list .address-mail:hover,
.address-list .address-mail:focus {
  color: var(--button-hover-background);
}

.address-list .address-tel:hover,
.address-list .address-tel:focus {
  color: var(--button-hover-background);
}

.address-mail {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-tel {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Головна частина */
/* Герой */
.hero {
  background-color: var(--titel-text-color);
}
.hero-title {
  color: var(--background-body-color);
  font-style: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.hero-button:focus,
.hero-button:hover {
  color: var(--background-body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-hover-background);
}

.hero-button {
  /* font-family: 'roboto'; */
  color: var(--background-body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--button-text-color);
}

/* Рішення */

.solutions-text {
  letter-spacing: 0.02em;
}

.solutions-text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

/* Приклади робіт */

.example-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

/* Команда */

.team-text {
  letter-spacing: 0.02em;
}
.team {
  background: var(--second-background-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

/* Підвал */

.footer {
  background: var(--titel-text-color);
}

.footer-logo {
  text-decoration: none;
  text-transform: uppercase;
}

.footer-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
}

.footer-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--second-background-color);
}

.footer-text {
  color: var(--footer-text-color);
  letter-spacing: 0.02em;
}

/*-------------------- Портфоліо -------------------*/

.bar-btn {
  color: var(--button-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--second-background-color);
}

.bar-btn:focus,
.bar-btn:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-hover-background);
  color: var(--background-body-color);
}

.samples-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

.samples-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
